:root {
  --main-black: #000000;
  --main-white: #ffffff;
  --main-grey: #3f3f3f;
  --main-dark-green: #334b47;
  --main-green: #528c83;
  --main-light-green: #96b1ac;
  --main-blue: #6e83a6;
}
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--main-grey);
}
